In [1]:
import pandas as pd

/tmp/ipykernel_55220/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df_140405 = pd.read_csv('data/140405-vanston-ground-only.csv')
df_140420 = pd.read_csv('data/140420-vanston-ground-only.csv')

In [6]:
df_140420.head()

(           X           Y     Z  fid   Z.1
 0  714254.40  4543472.57  0.21    1  0.21
 1  714251.02  4543466.29  0.47    2  0.47
 2  714243.53  4543476.75  0.39    3  0.39
 3  714230.43  4543491.25  0.98    4  0.98
 4  714223.72  4543497.76  1.26    5  1.26,
 array([[ 7.14254400e+05,  4.54347257e+06,  2.10000000e-01,
          1.00000000e+00,  2.10000000e-01],
        [ 7.14251020e+05,  4.54346629e+06,  4.70000000e-01,
          2.00000000e+00,  4.70000000e-01],
        [ 7.14243530e+05,  4.54347675e+06,  3.90000000e-01,
          3.00000000e+00,  3.90000000e-01],
        ...,
        [ 7.14872300e+05,  4.54293693e+06, -3.60000000e-01,
          1.35341700e+06, -3.60000000e-01],
        [ 7.14873220e+05,  4.54293498e+06, -4.00000000e-01,
          1.35341800e+06, -4.00000000e-01],
        [ 7.14873680e+05,  4.54293400e+06, -3.60000000e-01,
          1.35341900e+06, -3.60000000e-01]]))

In [5]:
df_140420.head()

           X           Y     Z  fid   Z.1
0  714254.40  4543472.57  0.21    1  0.21
1  714251.02  4543466.29  0.47    2  0.47
2  714243.53  4543476.75  0.39    3  0.39
3  714230.43  4543491.25  0.98    4  0.98
4  714223.72  4543497.76  1.26    5  1.26

In [13]:
df_140405.size + df_140420.size

10928355

In [8]:
df = df_140405.merge(df_140420, how="outer")

In [12]:
df.head()

          X           Y     Z     fid   Z.1
0  714000.0  4541991.76  0.44  243906  0.44
1  714000.0  4542005.14  1.15  584645  1.15
2  714000.0  4542077.60  0.22  583284  0.22
3  714000.0  4542118.71  0.20  599823  0.20
4  714000.0  4542638.36  3.39  780279  3.39

In [14]:
df.size

10928355

In [15]:
df.drop(columns=['fid', 'Z.1'], inplace=True)

In [16]:
df.drop

<bound method DataFrame.drop of                  X           Y     Z
0        714000.00  4541991.76  0.44
1        714000.00  4542005.14  1.15
2        714000.00  4542077.60  0.22
3        714000.00  4542118.71  0.20
4        714000.00  4542638.36  3.39
...            ...         ...   ...
2185666  715499.98  4541122.32  9.40
2185667  715499.98  4541149.40  8.57
2185668  715499.98  4541202.05  9.44
2185669  715499.98  4541264.30  6.64
2185670  715499.98  4541333.31  4.93

[2185671 rows x 3 columns]>

In [17]:
df_x_range = df["X"].max() - df["X"].min()
df_x_sub = df["X"].max() - df_x_range

In [18]:
df_x_sub

714000.0

In [19]:
df_y_range = df['Y'].max() - df["Y"].min()
df_y_sub = df['Y'].max() - df_y_range

In [20]:
df['X'] = df['X'].apply(lambda x: x - df_x_sub)
df['Y'] = df['Y'].apply(lambda y: y - df_y_sub)

In [21]:
df['X'].min(), df['Y'].min(), df['X'].max(), df['Y'].max()

(0.0, 0.0, 1499.9799999999814, 2691.4700000006706)

In [22]:
df.to_csv('with_header.csv', index=None)

In [23]:
df.to_csv('without_header.csv', index=None, header=None)